<br>
<center>
	<div style="align-content: center; width: 20%; background-color: black; color: white; padding: 20px; font-family: sans-serif; font: Helvetica">
		<h1> CONTROLS </h1></strong>
		<h2> Player 1 </h2>
		<p><strong>W</strong> - Move Up</p>
		<p><strong>S</strong> - Move Down</p>
		<p><strong>Space</strong> - Select Menu-Option / Start Ball</p>

		<hr>

		<h2> Player 2 </h2>
		<p><strong>Up-Arrow</strong> - Move Up</p>
		<p><strong>Down-Arrow</strong> - Move Down</p>
		<p><strong>Enter</strong> - Select Menu-Option / Start Ball</p>

	</div>


	<div style="align-content: center; width: 50%; margin-top: 50px;">

		<p>Thanks for playing a game by Steffen Kahl</p>
		<p>See the new studio at <a href="http://lunasnail.com">lunasnail.com</a> and join the Team!</p>

	</div>

</center>